#infobox {
  font-size: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;
  //pointer-events: none;
  float: right;
}

#info {
  $push : 4;

  position: absolute;
  right: 0;
  top: 0;
  height: 2em;
  padding: .5em ($push + .5em) .5em .5em;
  background: rgba(255, 165, 0, 0.5);
  border-radius: 0 0 5px 5px;
  text-align: center;

  .char {
    margin: 0 0.2em;

    &.b {
      border-bottom: 0.2em solid red;
      width: 0.6em;
      display: inline-block;
    }
  }
}

#timer {
  position: absolute;
  top: -1em;
  right: -2em;
  width: 6em;

  .portrait & {
    right: -1.5em;
  }

  path:nth-of-type(1) {
    fill: white;
    stroke: grey;
    stroke-width: 1;
  }

  path:nth-of-type(2) {
    fill: none;
    stroke: aqua;
    stroke-width: 4;
    stroke-dasharray: 301.635, 301.635;
    stroke-dashoffset: 0;
  }

  text {
    font-size: 2em;
  }
}