@import "vars";

#gform {
  flex: 1;
  padding: 0.438em 0 0 0.438em;
}

#guessIn {
  border: 0;
  width: 100%;
  height: $swatch-size;
  padding-left: $spacing;
}

#messbox {
  flex: 9;
  position: relative;
}

#messages {
   margin: 0;
   padding: 0;
   width: 100%;
   list-style-type: none;
   position: absolute;
   bottom: 0;

   li {
     padding: $spacing/2 $spacing;
   }
 }