* {
    box-sizing: border-box;
    font-size: inherit;
    font-family: Arial;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 20px;
}

.game {
    margin: auto;
    display: none;
}

.left {
    width: 70%;
    height: 100%;
    float: left;
}

.right {
    width: 29%;
    height: 100%;
    margin-left: 1%;
    float: left;
}

canvas {
    border: 1px solid #a9a9a9;
    border-radius: 0.625em;
    width: 100%;
    height: 90%;
    cursor: crosshair;
    cursor: url(cursor.ico) 1.9 2, crosshair;
}

.options {
    margin-top: 0.438em;
}

    .options .swatch {
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        cursor: pointer;
        background: linear-gradient(150deg, transparent 25%, rgba(100,50,80,.25));
    }

    .options input[type=radio] {
        display: none;
    }

        .options input[type=radio]:checked + .swatch {
            border: 2px solid #3F3F3F;
        }

    .options .swatch:hover {
        border: 2px solid #3F3F3F;
    }

    .options .undobtn {
        float: right;
        width: 0;
        height: 0;
        border-top: 1.25em solid transparent;
        border-right: 2.5em solid lightgray;
        border-bottom: 1.25em solid transparent;
        cursor: pointer;
    }

        .options .undobtn:hover {
            border-right-color: gray;
        }

    .options .clearbtn {
        float: right;
        width: 2.5em;
        height: 2.5em;
        position: relative;
        cursor: pointer;
    }

        .options .clearbtn:before, .options .clearbtn:after {
            width: 2.875em;
            height: 0.5em;
            top: 1em;
            left: -0.188em;
            position: absolute;
            content: "";
            background: lightgray;
        }

        .options .clearbtn:hover:before, .options .clearbtn:hover:after {
            background: gray;
        }

        .options .clearbtn:before {
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
        }

        .options .clearbtn:after {
            -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
        }

.guessInput {
    width: 100%;
    height: 2.5em;
    padding-left: 0.625em;
    margin-top: 0.625em;
}

#messages {
    border: 1px solid #a9a9a9;
    border-radius: 0.625em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

    #messages li {
        padding: 0.313em 0.625em;
    }

        #messages li:nth-child(odd) {
            background: #eee;
        }

.login {
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 90%;
    margin-left: 5%;
}

    .login .usernameInput {
    }

    .login .title {
        font-size: 200%;
    }

    .login .usernameInput {
        font-size: 200%;
        text-align: center;
        width: 15em;
    }

    .login .title, .login .usernameInput {
        font-weight: 100;
    }
