doctype html
html
  head
    title Canvas Drawing
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/start.css')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='manifest.json')
    link(rel='mask-icon', href='logo.svg', color='#ee7b00')
    meta(name='msapplication-TileColor', content='#ee7b00')
    meta(name='msapplication-TileImage', content='mstile-144x144.png')
    meta(name='theme-color', content='#ee7b00')
  body.container-fluid.over
    img#logo(src='logo.svg')
    #login(style="display: none")
      form#lform(action='')
        label.title(for='nameIn') What's your nickname?
        input#nameIn(type='text', maxlength='25')
    #game.landscape(style="display: none")
      #overlay
        form#worddiag(action='' style="display: none")
          //- 3 words to select from + custom.
          div What are you going to draw?
          each i in [1,2,3]
            input(id=('word' + i), type='submit', value=i)
          input#custom(type='text', autocomplete='off', placeholder='Custom', maxlength='25')
        #settings.white(style="display: none")
          #s_user
            h1 User Settings
          #s_game
            h1 Game Settings
            label Waiting Time:
            input#s_waiting(type='number')
            br
            label Picking Time:
            input#s_picking(type='number')
            br
            label Drawing Time:
            input#s_drawing(type='number')
            br
      #center.noselect
        canvas#draw.white(oncontextmenu='return false')
        #tools
          //- Build selection of color swatches.
          - var s_color = ['0,0,0','132,132,132','140,70,20','255,0,0','238,123,0','255,255,0','0,255,0','0,0,255','100,42,130','255,190,200','255,255,255']
          each id, index in [1,2,3,4,5,6,7,8,9,0,'-']
            input(id=('r' + id), type='radio', name='color', value=id, checked=(index === 0))
            label.swatch(for=('r' + id), style=('background-color:rgb(' + s_color[index] + ')'))

          span#sizeBar
            input#sizeIn(type='range', value='10', min='2', max='40', step='2', onchange='setDrawSize(parseInt(this.value))')
          svg#undo(viewBox='0 0 2 2')
            path(d='M2 0 L0 1 2 2z')
          svg#clear(viewBox='0 0 40 40')
            path(d='M34 0 L40 6 6 40 0 34 z M6 0 L40 34 34 40 0 6z')
      #left
        #ham
          div
          div
          div
        button#start.over
          #icon.over
            svg(viewBox='0 0 2 2')
              path(fill='white' d='M0 0 L0 2 2 1z')
          svg(viewBox='0 0 19 7.5')
            text(style="font-size:8px" x="0" y="6" fill="white") Start!
        ul#users
      #right
        #infobox.white.over
          #timer
          #info Draw freely or start a game
        #messbox.over
          ul#messages
        form#gform(action='')
          input#guessIn(autocomplete='off', placeholder='Type here...')
    script(src='js/start.js')
    link(rel='stylesheet', property='stylesheet', href='css/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='js/bundle.js')