@import "partials/vars";

* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to bottom left, #C8C8C8, #F8F8F8);
}

html, body {
  height: 100%;
  font-size: calc(12px + 0.5vw);
}

#logo {
  $load-size: 20vmin;
  position: absolute;
  top: 40%;
  left: 50%;
  height: $load-size;
  width: $load-size;
  margin: (-8vmin - $load-size / 2) 0 0 (-$load-size / 2);
  transition: all $bezier-spin;
}

#logo.spin {
  transform: rotate(-360deg);
}
