* {
  box-sizing: border-box;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #F0F0F0;
}
html, body {
  height: 100%;
}

#game, #login {
  display: none;
}

#logo {
  $load-size: 8em;
  position: absolute;
  top: 40%;
  left: 50%;
  height: $load-size;
  width: $load-size;
  margin: (-3em - $load-size / 2) 0 0 (-$load-size / 2);
  transition: height ease 1s, width ease 1s, margin ease 1s;
}